@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    transition: all ease-in-out .2s;
}

button {
    outline: none;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

#logo {
    height: 50px;
    background-color: #03A9F4;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
    font-family: Arial, serif;
}

header {
    width: 100%;
    height: 50px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #03A9F4;
    color: #f7f7f7;
    line-height: 50px;
}

header #left {
    float: left;
    padding-left: 10px;
    height: 50px;
    display: block;
    color: #f7f7f7;
    font-size: 1em;
}

main {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #dadada;
}

#actions-container {
    width: 80%;
    margin: 2em auto;
    height: 100%;
}

.title {
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1em;
    font-family: arial, serif;
    font-weight: bold;
}

.row {
    display: flex;
    width: 100%;
    height: 400px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 1em;
}

.flex-height {
    height: fit-content;
}

.action {
    flex-basis: 100%;
    background-color: #f2f2f2;
    height: 100%;
    margin: 1em;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    overflow: scroll;
}

.action button {
    width: 50px;
    height: 20px;
}

.button {
    background-color: #03A9F4;
}

.card-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(26,54,126,0.125);
    padding: .75rem 1.25rem;
    height: 3.5rem;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
}

.card-header-right {
    margin-left: auto;
    white-space: nowrap;
    position: relative;
}

.header-btn {
    cursor: pointer;
    padding: .25rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: solid 2px #444054;
}

#actie-menu {
    display: none;
    width: 100px;
    height: fit-content;
    position: absolute;
    right: calc(-100% + 1.25rem);
    top: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.header-btn:hover, .header-btn:focus {
    color: #fff;
    background-color: #444054;
}

.header-btn:focus + #actie-menu {
    display: block;
}

#actie-menu>button {
    background-color: #f2f2f2;
    width: 100%;
    padding: .25rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    border: none;
    border-bottom: 1px solid #7f7f7f;
}

#actie-menu>button:last-of-type {
    border:none;
}

#actie-menu>button:hover {
    background-color: #e0f3ff;
}

.card-table {
    font-family: Arial, serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.card-table td, .card-table th {
    border: 1px solid #ddd;
    padding: .55rem;
}

.card-table tbody>tr:hover {background-color: #e0f3ff;}

.card-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #495057;
    line-height: 1.5;
    font-size: .88rem;
    font-weight: bold;
}

.card-table td {
    position: relative;
}

.card-table td:nth-child(2) {
    text-align: left;
    padding: .8rem;
}

.card-table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.acties-btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.acties-btn {
    color: #fff;
    background-color: #3f6ad8;
    border: 1px solid transparent;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 0 0.125rem 0.625rem rgba(63,106,216,0.4), 0 0.0625rem 0.125rem rgba(63,106,216,0.5);
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s;
    padding: .25rem .5rem;
    line-height: 1.5;
}

.acties-btn:hover {
    background-color: #315cbf;
}

.acties-btn-group>.acties-btn:first-of-type {
    border-top-left-radius: .2em;
    border-bottom-left-radius: .2em;
}
.acties-btn-group>.acties-btn:last-of-type {
    border-top-right-radius: .2em;
    border-bottom-right-radius: .2em;
    background-color: #e92222;
}

#actuator-sliders{
    display: flex;
    align-items: center;
}

#actuator-sliders p {
    height: 30px;
}

.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #03A9F4;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 74px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 20px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-left-right .switch-label:before {
    background: #eceeef;
    text-align: left;
    padding-left: 80px;
}
.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: #03A9F4;
    left: -100px;
    opacity: 1;
    width: 100%;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 100px;
}
.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: inherit;
}